[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public"]
	path = public
	url = https://github.com/ebonilla/ebonilla.github.io.git
	branch = master
[submodule "ebonilla.github.io"]
	path = ebonilla.github.io
	url = https://github.com/ebonilla/ebonilla.github.io.git
	branch = master
